.sign-up-box{
  border: 1px solid #cccccc;
  width: 35%;
  padding: 1%;
  padding-bottom: 5%;
}

.sign-up-box h2{
  margin-bottom: 5%;
}

.sign-up-box .btn{
  margin-top: 5%;
  width: 63%;
}

.panel{
  margin-top: 10%;
}

.user-infos{
  text-align: center;
}

.index-gatos{
  text-align: center;
}

.gatos{
  margin-bottom: 5%;
}
